<heroes>
  <h2>{ hero.name.toUpperCase() } Details</h2>
  <div><span>id: </span>{ hero.id }</div>
  <div><span>name: </span>{ hero.name }</div>

  <script>
    export default {
      hero: {
        id: 1,
        name: 'Windstorm'
      }
    }
  </script>
</heroes>